name: Generate NuGet and push to Nuget.org

on:
  workflow_dispatch:
  push:
    tags:
      - '*.*.*'
      - 'v*.*.*'

env:
  DOTNET_PROJECT: CloudBrowserAiSharp.Puppeteer
  DOTNET_CSPROJ: ./lib/CloudBrowserAiSharp.Puppeteer.csproj
  RESTORE_SOURCES: --source https://api.nuget.org/v3/index.json
  CONFIGURATION: Release
  FRAMEWORK: net8.0
  RUNTIME: linux-x64
  ADDITIONAL_PROPERTIES: ""

jobs:
  generate-nuget-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true
          fetch-depth: 0 # Required for proper tag discovery

      - name: Extract Git Branch or Tag Information
        id: extract_info
        run: |
          MBRANCH=${GITHUB_REF#refs/*/}
          BRANCH=""
          SOURCE_TAG="0.0.0"

          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            SOURCE_TAG=${GITHUB_REF#refs/tags/}
            SOURCE_TAG=${SOURCE_TAG#v}
          else
            if [[ $MBRANCH == feature/* ]]; then
              BRANCH="a-${MBRANCH#feature/}.$(date +%Y%m%d%H)$(printf %02d $((10#$(date +%M) / 5 * 5)))"
            elif [[ $MBRANCH == "master" ]] || [[ $MBRANCH == "main" ]]; then
              BRANCH=""
            else
              BRANCH="${MBRANCH}.$(date +%Y%m%d%H)$(printf %02d $((10#$(date +%M) / 5 * 5)))"
            fi

            BRANCH=${BRANCH//\//-}
          fi

          echo "SOURCE_TAG=$SOURCE_TAG" >> "$GITHUB_OUTPUT"
          echo "BRANCH=$BRANCH" >> "$GITHUB_OUTPUT"
          echo "BRANCH: $BRANCH"
          echo "Started by: $GITHUB_ACTOR | SHA: $GITHUB_SHA | Tag: ${GITHUB_REF#refs/tags/}"

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2.0.1

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
       
      - name: Restore
        run: |
          dotnet restore /property:Configuration=${{ env.CONFIGURATION }} \
                         /property:TargetFramework=${{ env.FRAMEWORK }} \
                         --runtime ${{ env.RUNTIME }} \
                         ${{ env.DOTNET_CSPROJ }} ${{ env.RESTORE_SOURCES }}

      - name: Build
        run: |
          VERSION_SUFFIX_ARG=""
          if [[ -n "${{ steps.extract_info.outputs.BRANCH }}" ]]; then
            VERSION_SUFFIX_ARG="/p:VersionSuffix=${{ steps.extract_info.outputs.BRANCH }}"
          fi

          dotnet build -f ${{ env.FRAMEWORK }} \
                       -r ${{ env.RUNTIME }} \
                       ${{ env.DOTNET_CSPROJ }} \
                       /property:Configuration=${{ env.CONFIGURATION }} \
                       ${{ env.ADDITIONAL_PROPERTIES }} \
                       /p:DebugSymbols=true \
                       /p:DebugType=portable \
                       /p:SymbolPackageFormat=snupkg \
                       /p:VersionPrefix=${{ steps.extract_info.outputs.SOURCE_TAG }} \
                       $VERSION_SUFFIX_ARG
          mkdir -p nupkg-tmp
          mv $(dirname ${{ env.DOTNET_CSPROJ }})/bin/${{ env.CONFIGURATION }}/* nupkg-tmp/

      - name: Publish package to NuGet.org
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push ./nupkg-tmp/*.nupkg --source https://api.nuget.org/v3/index.json --api-key $NUGET_API_KEY
